<div class="card-list-container mb-5">
  <% posts.each do |post| %>
    <div class="card w-70 mx-auto mt-2 mb-5 shadow-lg">
      <div class="card-header">
        <span>
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag post.user.get_profile_image(50,50), class: "mt-o rounded-circle"; %>
          <% end %>
        </span>
        <span><%= link_to post.user.name, user_path(post.user.id), class: "text-dark" %></span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="ml-3">
            <div class="favorite-btn<%= post.id %>">
                <%= render 'public/favorites/btn', post: post %>
            </div>
          </div>
          <div class="ml-3">
            <div id="comments-count">
              <%= render 'public/comments/count', post: post %>
            </div>
          </div>
        </div>
        <div class="card-title">
          目標：<%= link_to post.goal, post_path(post.id), class: "text-dark" %>
        </div>
        <div class="card-text">
          具体的な行動：<%= link_to post.action, post_path(post.id), class: "text-dark" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate posts %>