<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="card shadow-lg px-3 py-3 mb-3">
        <h2 class="headline col-lg-4 col-md-7 col-sm-12 text-center">投稿詳細</h2>
        <div class="row">
          <div class="pl-3 mb-2">
            <%= link_to user_path(@post.user.id) do %>
              <%= image_tag @post.user.get_profile_image(50,50), class: "mt-o rounded-circle"; %>
              <%= @post.user.name %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="pl-5 pt-2">
            <dl>
              <dt>投稿日</dt>
              <dd class="post-detail"><%= @post.created_at.strftime('%Y/%m/%d') %></dd>
              <dt>目標</dt>
              <dd class="post-detail"><%= @post.goal %></dd>
              <dt>行動</dt>
              <dd class="post-detail"><%= @post.action %> </dd>
              <dt>お気に入り</dt>
              <dt class="favorite-btn<%= @post.id %>">
                <%= render 'public/favorites/btn', post: @post %>
              </dt>
            </dl>
          </div>
          <div class="col-sm-12 col-md-7 ">
            <% if @post.user == current_user %>
              <div class="d-grid gap-2 d-md-block text-center">
                <%= link_to "投稿を編集", edit_post_path, class: 'btn btn-success', 'data-turbolinks': false %>
                <%= link_to "投稿を削除", post_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <h3 class="headline col-lg-4 col-md-7 col-sm-12 text-center">コメント一覧</h3>
            <div id="comments-count">
              <%= render 'public/comments/count', post: @post %>
            </div>
            <div id="comments-area">
              <%= render 'public/comments/index', post: @post %>
            </div>
            <div class="my-3">
              <% if current_user %>
                <%= render 'public/comments/form', post: @post, comment: @comment %>
              <% else %>
                <p><%= link_to "ログイン", user_session_path %>するとコメントが書きこめます。</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>