<div class="container">
  <div class="row">
    <div class="col-lg-4 my-3 text-center">
      <%= image_tag user.get_profile_image(150,150), class: "mt-o rounded-circle"; %>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <label><strong>名前</strong>：</label>
        <div><%= user.name %></div>
      </div>
      <div class="row mb-1">
        <% if user.released? %>
          <b><font color="#28a745">公開ユーザー</font></b>
        <% elsif user.nonreleased? %>
          <b><font color="#6c757d">非公開ユーザー</font></b>
        <% end %>
      </div>
      <div class="row">
        <div class="mr-3">投稿件数：<%= user.posts.count %></div>
      </div>
      <div class="row my-2">
        <div class="follow-count mb-2"><%= render 'public/relationships/follow_count', user: user %></div>
        <div class="follow-btn<%= user.id %>"><%= render 'public/relationships/btn', user: user %></div>
      </div>
      <div class="row mt-2 mb-3">
        <% if user == current_user %>
          <div class="mr-3"><%= link_to 'いいね一覧' + user.favorites.count.to_s + '件', favorites_posts_path, class: 'btn btn-sm btn-info' %></div>
          <% if user.name != "guestuser" %>
            <div><%= link_to 'プロフィールを編集', edit_user_path(user.id), class: 'btn btn-sm btn-success', 'data-turbolinks': false %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row pl-3">
    <strong>自己紹介</strong>
  </div>
  <div class="row">
    <div class="card-text col-12">
      <div class="media border rounded pb-5">
        <% if user.name != "guestuser" %>
          <% if user.introduction.present? %>
            <%= user.introduction %>
          <% else %>
            自己紹介文がありません
          <% end %>
        <% else %>
          ゲストユーザーです。
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="headline col-lg-4 col-md-7 col-sm-12 my-3">投稿履歴</h2>
    </div>
    <div class="col-12 mb-4">
      <% if user.released? || user == current_user %>
        <% if user.posts.present? %>
          <div><%= render 'public/posts/history', posts: posts %></div>
        <% else %>
          <div>まだ投稿がありません。</div>
        <% end %>
      <% else %>
        <div>このユーザーは非公開です。</div>
      <% end %>
    </div>
  </div>
</div>