<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 round mx-auto">
      <h2 class="text-dark bg-light rounded-top py-4 mb-0 text-center shadow-lg">プロフィール編集</h2>
      <div class="form-body p-4 bg-white rounded-bottom shadow-lg">
        <%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>
          <%= render 'layouts/errors', obj: @user %>
          <div class="form-group">
            <label for="user_image">【プロフィール画像】</label>
            <!--begin:JavaScript preview.js 画像プレビュー表示-->
            <div id="edit-image"><%= image_tag @user.get_profile_image(120, 120), class: "rounded-circle" %></div>
            <!--end:JavaScript preview.js 画像プレビュー表示-->
            <div class="mt-2"><%= f.file_field :profile_image, accept: "image/*" %></div>
          </div>

          <div class="form-group">
            <label for="user_status">
              【公開ステータス】
              <span class="required">必須</span>
            </label>
            <div>
              <%= f.radio_button :status, User.statuses.key(0) %>
              <%= f.label :status_released, User.statuses_i18n[:released] %>

              <%= f.radio_button :status, User.statuses.key(1) %>
              <%= f.label :status_nonreleased, User.statuses_i18n[:nonreleased]%>
            </div>
          </div>

          <div class="form-group">
            <label for="user_name">
              【ニックネーム】
              <span class="required">必須</span>
            </label>
            <div><%= f.text_field :name, class: "form-control" %></div>
          </div>

          <div class="form-group">
            <label for="user_introduction">【自己紹介】</label>
            <div><%= f.text_area :introduction, class: "form-control", rows: 5 %></div>
          </div>

          <div class="form-group">
            <%= f.submit '情報を更新する', class: "btn btn-block btn-success mt-5" %>
          </div>
        <% end %>
      </div>
      <%= link_to '戻る', :back, class: "btn btn-outline-dark mt-5" %>
    </div>
  </div>
</div>