<% if admin_signed_in? %>
<div class="sidebar card text-dark bg-light mb-5 shadow-lg sticky-top">
  <div class="card-header text-center">
    <div class="text-dark">
      <div class="row">
        <div class="col-12">管理者ログイン中</div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ul class="card-text list-unstyled">
      <li><%= link_to '[投稿]新しい順', admin_root_path(sort: 'latest') %></li>
      <li><%= link_to '[投稿]古い順', admin_root_path(sort: 'old') %></li>
      <li>
        <%= link_to admin_root_path(sort: 'star_count') do %>
          [投稿]<i class="fas fa-star"></i>が多い順
        <% end %>
      </li>
      <li><%= link_to '[投稿]いいね多い順', admin_root_path(sort: 'favorite_count') %></li>
      <li><%= link_to '[投稿]コメント多い順', admin_root_path(sort: 'comment_count') %></li>
    </ul>
  </div>
</div>
<% end %>